services:
  neo4j:
    image: neo4j:2025.10
    container_name: neo4j
    ports:
      - "7474:7474"  # HTTP
      - "7687:7687"  # Bolt
    environment:
      NEO4J_AUTH: ${USERNAME}/${PASSWORD}
      NEO4J_PLUGINS: '["apoc","apoc-extended"]'
      NEO4J_dbms_security_procedures_unrestricted: apoc.*
      NEO4J_apoc_export_file_enabled: "true"
      NEO4J_apoc_import_file_enabled: "true"
# There is no volume for persistence because we need the original graphs
    networks:
      - app-network
    volumes:
    #  - ./graphs:/var/lib/neo4j/import/graphs
      - ./graphs-1:/var/lib/neo4j/import/graphs
      - ./out:/out
    pre_stop:
      - command: chown -R --reference=/out /var/lib/neo4j/import/graphs && chmod -R --reference=/out /var/lib/neo4j/import/graphs
        user: root
        privileged: true

    healthcheck:
      test: [ "CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:7474 || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
#  dtgraph:
#    image: ghcr.io/dmki-tuwien/dtgraph-rest
#    container_name: dtgraph-rest
#    ports:
#      - "8765:8000"
#    depends_on:
#      neo4j:
#        condition: service_healthy
#    healthcheck:
#      test: [ "CMD-SHELL", "curl -f http://localhost:8000/health || exit 1" ]
#      interval: 10s
#      timeout: 5s
#      retries: 5
#      start_period: 30s
#    env_file:
#      - .env
  global-lpg-norm:
    build:
      context: .
      dockerfile: eval.Dockerfile
    container_name: global-lpg-norm
    depends_on:
      neo4j:
        condition: service_healthy
#      dtgraph:
#        condition: service_healthy
    env_file:
      - .env
    volumes:
      - ./graphs:/graphs
      - ./setup.yaml:/setup.yaml
      - ./out:/out
    networks:
      - app-network


volumes:
  neo4j_data:
  neo4j_logs:

networks:
  app-network:
    driver: bridge