services:
#  neo4j:
#    image: neo4j:2025.11
#    container_name: neo4j
#    ports:
#      - "7474:7474"  # HTTP
#      - "7687:7687"  # Bolt
#    environment:
#      NEO4J_AUTH: ${USERNAME}/${PASSWORD}
#      NEO4J_PLUGINS: '["apoc","apoc-extended"]'
#      NEO4J_dbms_security_procedures_unrestricted: apoc.*
#      NEO4J_apoc_export_file_enabled: "true"
#      NEO4J_apoc_import_file_enabled: "true"
## There is no volume for persistence because we need the original graphs
#    networks:
#      - app-network
#    volumes:
#      - ./graphs:/var/lib/neo4j/import/graphs
#      - ./out:/out
#    pre_stop:
#      - command: "chown -R --reference=/out /var/lib/neo4j/import/graphs"
#        user: root
#        privileged: true
#      - command: "chmod -R --reference=/out /var/lib/neo4j/import/graphs"
#        user: root
#        privileged: true
#    healthcheck:
#      test: [ "CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:7474 || exit 1" ]
#      interval: 10s
#      timeout: 5s
#      retries: 5
#      start_period: 30s
#  dtgraph:
#    image: ghcr.io/dmki-tuwien/dtgraph-rest
#    container_name: dtgraph-rest
#    ports:
#      - "8765:8000"
#    depends_on:
#      neo4j:
#        condition: service_healthy
#    healthcheck:
#      test: [ "CMD-SHELL", "curl -f http://localhost:8000/health || exit 1" ]
#      interval: 10s
#      timeout: 5s
#      retries: 5
#      start_period: 30s
#    env_file:
##      - .env
#  memgraph:
#    image: memgraph/memgraph-mage:latest
#    container_name: memgraph-mage
##    pull_policy: always
#    ports:
#      - "7688:7687"
#      - "7444:7444"
#    command: [ "--log-level=TRACE", "--telemetry-enabled=false"]
#    volumes:
#      - ./graphs:/graphs
#    healthcheck:
#      test: [ "CMD-SHELL", "echo 'RETURN 0;' | mgconsole || exit 1" ]
#      interval: 10s
#      timeout: 5s
#      retries: 3
#      start_period: 0s
#    networks:
#      - app-network
##    environment:
##      MEMGRAPH_USER: ${USERNAME}
##      MEMGRAPH_PASSWORD: ${PASSWORD}
#
#  memgraph-lab:
#    image: memgraph/lab:latest
#    container_name: memgraph-lab
# #   pull_policy: always
#    ports:
#      - "3000:3000"
#    depends_on:
#      memgraph:
#        condition: service_healthy
#    networks:
#      - app-network
#    environment:
#      - QUICK_CONNECT_MG_HOST=memgraph
#      - QUICK_CONNECT_MG_PORT=7687
#    profiles:
#      - docs
  global-lpg-norm:
    build:
      context: .
      dockerfile: eval.Dockerfile
    container_name: global-lpg-norm
#    depends_on:
#      neo4j:
#        condition: service_healthy
#      memgraph:
#        condition: service_healthy
##      dtgraph:
#        condition: service_healthy
    env_file:
      - .env
    volumes:
      - ./graphs:/graphs
      - ./setup.yaml:/setup.yaml
      - ./out:/out
      - /var/run/docker.sock:/var/run/docker.sock # to spin up further containers!
    environment:
      - DOCKER_HOST=unix:///var/run/docker.sock
      - TC_HOST=host.docker.internal
    networks:
      - app-network
  docs-webserver:
    image: nginx:latest
    volumes:
      - ./docs/_build/html:/usr/share/nginx/html:ro
    ports:
      - "8000:80"
    profiles:
      - docs


volumes:
  neo4j_data:
  neo4j_logs:

networks:
  app-network:
    driver: bridge