antlr4-python3-runtime~=4.13.2
neo4j~=5.28.1
pytest~=9.0.3
testcontainers~=4.13.3
pandas~=2.3.0
PyYAML~=6.0.2
ipython~=9.3.0
plotnine~=0.15.1
case-converter
pyyaml
pandas
tqdm-loggable
watchdog
fastapi[standard]
python-dotenv
mkdocstrings-python
mkdocs-material
mkdocs-glightbox
mkdocs-table-reader-plugin
duckdb
